mat-form-field {
  display: block;
}

.column {
  float: left;
}

.left {
  margin: 33px 0 0 60px;
  width: 20%;
}

.right {
  margin-left: 20px;
  width: 40%;
}

#btn {
  color: white;
  background-color: blue;
  width: 100px;
}